AplicacionBecas2/IUWeb/Service References/ServiceReference1/ServicioUsuarios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ServiceUsuarios" elementFormDefault="qualified" targetNamespace="ServiceUsuarios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="consultarUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultarUsuariosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>